<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.efar"
    android:versionCode="1"
    android:versionName="1.0" >
    
     <!-- Permission List -->
    
	 <!-- Permission to read contacts -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
     <!-- Permission to write contacts -->
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
     <!-- Permission to call phone-->
    <uses-permission android:name="android.permission.CALL_PHONE" />
     <!-- Permission to read sms-->
    <uses-permission android:name="android.permission.READ_SMS" />
     <!-- Permission to receive sms -->
    <uses-permission android:name="android.permission.RECEIVE_SMS"/>
     <!-- Permission to write sms -->
    <uses-permission android:name="android.permission.WRITE_SMS"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
        <!-- Activities List -->
        <activity
            android:name="com.efar.activity.WelcomeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:label="@string/app_name"
            android:theme="@style/FullscreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity 
            android:name="com.efar.activity.HomeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.efar.activity.ContactActivity">
        </activity>
        <activity
            android:name="com.efar.activity.EventActivity">
        </activity>
        <activity
            android:name="com.efar.activity.RecordActivity">
        </activity>
        <activity
            android:name="com.efar.activity.ContactListActivity">
        </activity>
        <activity
            android:name="com.efar.activity.EventDetail">
        </activity>
        <activity
            android:name="com.efar.activity.EfarListActivity">
        </activity>
        <activity
            android:name="com.efar.activity.RecordListActivity">
        </activity>
        <activity
            android:name="com.efar.activity.AddEfarActivity">
        </activity>
        <activity
            android:name="com.efar.activity.AvailableEfarListActivity">
        </activity>
       
        <!-- ContentProvider List -->
        <provider
            android:name="com.efar.contentProvider.EfarProvider"
            android:authorities="com.efar.contentProvider"
            android:multiprocess="false" >
        </provider>
        <provider
            android:name="com.efar.contentProvider.EventProvider"
            android:authorities="com.efar.contentProvider"
            android:multiprocess="false" >
        </provider>
        
        <!-- BroadcastReceiver List -->
        <receiver 
            android:name = "com.efar.broadcastReceiver.ReceiverSMS"
            android:enabled="true">
            <intent-filter>
                <action android:name = "android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>
    </application>

</manifest>
